.assignment-control-buttons-text{
    border: 1px solid gray;
    border-radius: 15px ;
    padding: 5px 10px;
    margin-right: 10px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.assignment-icon {
    color: green;
}

.wd-assignment-items {
    border-left: 4px solid green;
}